.add-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    color: #fff;
    background: #fab700;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    cursor: pointer;
    transition: all .5s ease;
}

.add-button:hover{
    background: #bb8c09;
}

nav {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .5s ease;
}

nav .top {
    width: 100%;
    border-bottom: solid 1px #fff;
}

nav .top .links i {
    color: #fff;
    display: none;
}

nav .top .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

nav .top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav .top i {
    font-size: 20px;
    color: #fff;
}

nav .top a {
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
    transition: all .5s ease;
}

nav a:hover {
    color: #fab700;
}

nav .bottom {
    width: 100%;
}


nav .bottom .bottom-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

nav .bottom .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav .bottom .menu li a {
    color: #fff;
    font-size: 14px;
}

nav .bottom i {
    color: #fff;
    font-size: 30px;
    display: none;
}

.header {
    padding-top: 100px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url(../images/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

.header-wrapper h1 {
    font-size: 50px;
}

.header-wrapper p {
    width: 80%;
}

.header-wrapper button {
    font-size: 18px;
    padding: 10px 20px;
    background: #fab700;
    border: solid 2px #fab700;
    color: #fff;
    transition: all .5s ease;
}

.header-wrapper button:hover {
    background: #000;
    color: #fab700;
}

.cards{
    width: 100%;
    padding-top: 50px;
}

.card-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.search-box{
    width: 100%;
    max-width: 50%;
    background: #e3e3e3;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all .5s ease;
    border-radius: 5px;
}

.search-box input{
    font-size: 18px;
    padding: 10px 20xp;
    width: 100%;
    background: transparent;
}
.search-box i{
    font-size: 25px;
}

.card{
    position: relative;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    min-height: 540px;
}
.card:hover{
    background: #fab700;
}
.card .image{
    width: 100%;
}
.card .image img{
    width: 100%;
}
.card .about{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.card .about p{
    color: gray;
    text-align: left;
    height: 140px;
    width: 100%;
    max-width: 314px;
    
}
.card .about h2{
    display: flex;
    width: 100%;
    max-width: 314px;
}
.card i{
    position: absolute;
    z-index: 1;
    right: 30px;
    top: 30px;
    font-size: 20px;
    transition: all .5s ease;
    cursor: pointer;
    color: #ffffff;
    background: #fab700;
    width: 30px;
    height: 30px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card i:hover{
    background: #fab700;
}
.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.card button{
    width: 100%;
    background: #fab700;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    transition: all .5s ease;

}

.card:hover button{
    background: #ffffff;
    color: #000;
}

.container .title{
    text-align: center;
    margin-bottom: 30px;
}

.container .title h1{
    font-size: 50px;
}
.container .title span{
    color: gray;
}
.feature{
    padding: 50px 0
}
.feature-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
}
.feature-wrapper .item{
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
    padding: 20px;
}

.item:hover{
    background: #fab700;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
}

.item .title{
    text-align: left;
    font-size: 18px;
    color: #000;
}
.item .title span{
    color: #000;
}

.blog{
    padding-bottom: 50px;
}

.blog-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.post{
    padding: 10px;
}

.date{
    background: #000;
    color: #fff;
    width: 50%;
    padding: 5px;
    text-align: center;
    margin: 10px 0;
}
.post h2{
    font-size: 16px;
    transition: all .5s ease;
    cursor: pointer;
}

.post .image{
    width: 100%;
    overflow: hidden;
}

.post .image img{
    width: 100%;
    transition: all .5s ease;
}

.post:hover img{
    transform: scale(1.1);
}

.post:hover h2{
    color: #fab700;
}

.post p{
    color: gray;
    font-size: 14px;
}

.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-top: 10px;
    color: gray;
}
footer{
    background: #04091e;
}

.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    padding: 30px;
    gap: 20px;
}
.footer-wrapper .box:first-child{
    width: 40%;
}

.box p{
    color: gray;
    font-size: 14px;
    margin-top: 10px;
}
.box:last-child p{
    text-align: center;
}

.box .input-box{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.box .input-box button{
    background: #fab700;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
}

.box .input-box input{
    width: 100%;
    font-size: 18px;
    padding: 10px 20px;
}

.box .icons i{
    font-size: 20px;
    margin-left: 10px;
    transition: all .5s ease;
}
.box .icons i:hover{
    color: #fab700;
}

.details{
    padding: 50px 0;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(../images/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.details-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 50px;
    color: #fff;
}

.details-wrapper .image{
    width: 50%;
}
.details-wrapper .image img{
    width: 100%;
}
.details-wrapper .about{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 20px;
}
.details-wrapper .about h1{
    font-size: 50px;
}
.details-wrapper .about a{
    background: #fab700;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: solid 2px #fab700;
    transition: all .5s ease;
}

.details-wrapper .about a:hover{
    background: #000;
    color: #fab700;
}

.update, .add{
    z-index: 99999;
    backdrop-filter: blur(20px);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.update.active, .add.active{
    opacity: 1;
    pointer-events: all;
}

.update .container, .add .container{
    min-height: 100vh;
}

.update-wrapper, .add-wrapper{
    width: 100%;
    max-width: 500px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    transform: scale(0);
    transition: all .5s ease;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.update-wrapper.active, .add-wrapper.active{
    transform: scale(1);
}

.update-wrapper .upd-img, .add-wrapper .add-img{
    width: 100%;
    position: relative;
}

.update .upd-img img, .add .add-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.update-wrapper .upd-about, .add-wrapper .add-about{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.update-wrapper .upd-about input, .add-wrapper .add-about input{
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
    background: #cecdcd;
    border-radius: 10px;
}

.update-wrapper button, .add-wrapper button{
    background: #fab700;
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    transition: all .5s ease;
}

input[type="file"]{
    display: none;
}

.update-wrapper button:hover, .add-wrapper button:hover{
    background: #bb8c09;
}

.update-wrapper i,
.add-wrapper i {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.upd-img:hover i, .add-img:hover i{
    opacity: 1;
}

@media(max-width: 991px) {
    nav .bottom-wrapper {
        align-items: flex-start;
        flex-direction: column;
    }
    nav .bottom-wrapper .menu{
        justify-content: flex-start;
    }

    .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 960px) {
    nav .bottom-wrapper {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .menu {
        position: absolute;
        flex-direction: column;
        background: rgba(0, 0, 0, .8);
        left: -300px;
        top: 0;
        height: 100vh;
        width: 300px;
        gap: 0;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        transition: all .5s ease;
    }

    .menu.active {
        left: 0;
    }

    .menu li{
        width: 100%;
    }

    .menu li a {
        font-weight: 600;
        font-size: 18px;
    }

    nav .bottom-wrapper i {
        display: flex;
    }

    .details-wrapper{
        flex-direction: column;
    }
    .details-wrapper .image,
    .details-wrapper .about{
        width: 100%;
    }
}

.cards .container .title{
    text-align: center;
    margin-top: 20px;
}

@media(max-width: 736px) {
    nav .top .links .number {
        display: none;
    }

    nav .top .links i {
        display: flex;
    }

    .feature-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}